# Misc
.DS_Store

# Python + mypy
__pycache__/
*.pyc
.mypy_cache/

build/
dist/
*.egg-info/

.cache/

# SC2 things
maps/
mini_games/

*.SC2Replay

.idea
*.iml




# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS
.vs/