[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
portpicker = "*"
async-timeout = "<4.0,>=3.0"
"s2clientprotocol" = "*"
aiohttp = "*"
pyglet = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pillow = "*"

[requires]
python_version = "3.7"
